#index
{
	display:block;
	text-align: center;
	margin-left: 25px;
}
#index a
{
	display:inline-block;
	background:red;
	margin:5px;
	margin-bottom: 5px;
	width:150px;
	height:45px;
	line-height: 45px;
	text-align: center;
	font-size:16px;
    font-weight: bold;
	color:black;
    text-decoration: none;
}
#fixedIndex{
	position:fixed;
	right: 100px;
	text-align: center;
	display:block;
	background: rgb(126,178,233,50%);
	padding-top: 10px;
}
#fixedIndex a{
	display:block;
	background:rgb(0,0,255,50%);
	margin:5px;
	margin-bottom: 5px;
	width:150px;
	height:45px;
	line-height: 45px;
	text-align: center;
	font-size:16px;
    font-weight: bold;
	color:white;
    text-decoration: none;
}
:is(#index,#fixedIndex) a:hover {
    background-color:#ff6600;
}