#index
{
	position:fixed;
    top: 35%;
	text-align: center;
	display:block;
	background: green;
	margin-left: 25px;
}
#index a
{
	display:block;
	background:red;
	margin:5px;
	margin-bottom: 5px;
	width:150px;
	height:45px;
	line-height: 45px;
	text-align: center;
	font-size:16px;
    font-weight: bold;
	color:black;
    text-decoration: none;
}
#index a:hover {
    background-color:#ff6600;
}