#title{
    /* min-width: 956px;
    min-height: 200px;
    background-image: url("data/titleBackground.jpg");
    background-repeat: no-repeat;
    background-position:center top; */
}
#title a{
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}
#title a:visited{
    color: black;
}
#index > li{
    display: inline;
}
section{
    margin-left: 100px;
    max-width: 1133px;
}
.sectionTitle{
    font-size: 20px;
    font-weight: bold;
}
.sectionTitle:hover{
    cursor: pointer;
}

.DPTEXT_01{
    color:rgb(184, 184, 232);
}
.DPTEXT_03{
    color:rgb(220, 220, 60);
}
.DPTEXT_04{
    color:white;
}
.DPTEXT_07{
    color:rgb(16, 252, 24);
}
.DPTEXT_08{
    color:rgb(255, 5, 5);
}
.DPTEXT_0E{
    color:rgb(14, 81, 230);
}
.DPTEXT_0F{
    color:rgb(44, 180, 148);
}
.DPTEXT_10{
    color:rgb(126,59,145);
}
.DPTEXT_11{
    color:rgb(255,150,21);
}
.DPTEXT_1C{
    color:rgb(64, 104, 212);
}
.DPTEXT_1E{
    color:rgb(156,156,200);
}
.DPTEXT_1F{
    color:rgb(0, 228, 252);
}