#title{
    /* min-width: 956px;
    min-height: 200px;
    background-image: url("data/titleBackground.jpg");
    background-repeat: no-repeat;
    background-position:center top; */
}
#title a{
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}
#title a:visited{
    color: black;
}
section{
    margin-left: 200px;
}
.sectionTitle{
    font-size: 20px;
    font-weight: bold;
}
.classTable
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 1280px;
}
.classProfile
{
    margin: 10px;
    display:inline;
    text-align: center;
}
a.classProfile{
    min-width: 160px;
    text-decoration: none;
}
a.classProfile:visited{
    color:black;
}
a.classProfile:hover{
    text-decoration: underline;
    color:blue;
}
.classProfile:hover
{
    cursor: pointer;
}
.classProfileImage
{
    width: 128px;
    height: 128px;
}
.classPopupInfo
{
    background-color: black;
    padding: 4px;
    position: absolute; 
    display: none; 
    float: left; 
    overflow: hidden; 
    z-index: 999;
    min-width: 640px;
    max-width: 720px;
}
#classView, #jobView{
    display: none;
    width: 950px;
    margin: 10px;
    padding: 10px;
    background-color:black;
}
span{
    font-size: 16px;
}
.specName
{
    font-weight: bold;
    color:rgb(17,255,26);
}
.specStars
{
    font-weight: bold;
    color:rgb(255,5,5);
}
.explanation
{
    font-weight: bold;
    color: white;
}
.skillPopupInfo
{
    background-color: black;
    min-width: 128px;
    padding: 4px;
    position: absolute; 
    display: none; 
    float: left; 
    overflow: hidden; 
    z-index: 999;
}
.skillViewer, .jobSelect{
    margin: 5px;
    padding: 10px;
    border: 2px solid white;
}
.skillContent{
    padding-bottom: 20px;
}
.skillContent td img{
    vertical-align: middle;
}
.skillContent td > span{
    font-weight: bold;
}
.skillIcon{
    width:52px;
    height:54px;
}
.skillCommand{
    color:rgb(17, 255, 26);
    font-weight: bold;
}
.skillName{
    color:rgb(44, 180, 148);
    font-weight: bold;
}
.jobExplanation
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
}
.jobSelectMessage{
    color: white;
    text-align: center;
}
.job1View{
    color: white;
    text-align: left;
    position: relative;
}
.job2View{
    color: white;
    text-align: right;
    position: relative;
}
.jobSelection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.job1SelectButton{
    font-size: 20px;
    height: 50px;
    margin-right: 10px;
}
.job2SelectButton{
    font-size: 20px;
    height: 50px;
    margin-left: 10px;
}