#title{
    /* min-width: 956px;
    min-height: 200px;
    background-image: url("data/titleBackground.jpg");
    background-repeat: no-repeat;
    background-position:center top; */
}
#title a{
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}
#title a:visited{
    color: black;
}
li{
    display: inline;
}
section{
    margin-left: 100px;
}
.sectionTitle{
    font-size: 20px;
    font-weight: bold;
}
.classTable
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 1280px;
}
.classProfile
{
    margin: 10px;
    display:inline;
    text-align: center;
}
a.classProfile{
    min-width: 160px;
    text-decoration: none;
}
a.classProfile:visited{
    color:black;
}
a.classProfile:hover{
    text-decoration: underline;
    color:blue;
}
.classProfile:hover
{
    cursor: pointer;
}
.classProfileImage
{
    width: 128px;
    height: 128px;
}
.classPopupInfo
{
    background-color: black;
    padding: 4px;
    position: absolute; 
    display: none; 
    float: left; 
    overflow: hidden; 
    z-index: 999;
    min-width: 640px;
    max-width: 720px;
}
#classView, #jobView{
    display: none;
    width: 950px;
    margin: 10px;
    padding: 10px;
    background-color:black;
}
span{
    font-size: 16px;
}
.specName
{
    font-weight: bold;
    color:rgb(17,255,26);
}
.specStars
{
    font-weight: bold;
    color:rgb(255,5,5);
}
.explanation
{
    font-weight: bold;
    color: white;
}
.skillPopupInfo
{
    background-color: black;
    min-width: 128px;
    padding: 4px;
    position: absolute; 
    display: none; 
    float: left; 
    overflow: hidden; 
    z-index: 999;
}
.skillViewer, .jobSelect{
    margin: 5px;
    padding: 10px;
    border: 2px solid white;
}
.skillContent{
    padding-bottom: 20px;
}
.skillContent td img{
    vertical-align: middle;
}
.skillContent td > span{
    font-weight: bold;
}
.skillIcon{
    width:52px;
    height:54px;
}
.skillCommand{
    color:rgb(17, 255, 26);
    font-weight: bold;
}
.skillName{
    color:rgb(44, 180, 148);
    font-weight: bold;
}
.jobExplanation
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
}
.jobSelectMessage{
    color: white;
    text-align: center;
}
.job1View{
    color: white;
    text-align: left;
    position: relative;
}
.job2View{
    color: white;
    text-align: right;
    position: relative;
}
.jobSelection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.job1SelectButton{
    font-size: 20px;
    height: 50px;
    margin-right: 10px;
}
.job2SelectButton{
    font-size: 20px;
    height: 50px;
    margin-left: 10px;
}
.missionObjBtn{
    width: 450px;
    height: 58px;
    margin: auto;
    background-image: url('data/images/missionObjBtn.png');
    background-repeat: no-repeat;
    text-align: center;
    line-height:58px;
    font-size: 20px;
    color: rgb(250,250,68);
}
.missionObjBtn:hover{
    cursor:pointer;
    color: white;
}
.missionObjBtn:active{
    background-image: url('data/images/missionObjBtn_onClick.png');
}
.missionObjBtn span{
    font-size: inherit;
    color: white;
}
.missionObjViewer{
    display: none;
    background-color: rgb(0, 11, 39);
    border: 2px solid rgb(0, 6, 59);
    border-radius: 10px;
    padding-left: 5px;
    margin: 25px;
    /* min-height: 510px; */
}
.missionObjViewer span{
    font-size: 20px;
    font-weight: normal;
    text-shadow: 1px 2px black;
}
.missionObjViewer span.defaultFont{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
span.defaultFont{
    color: rgb(184, 184, 232);
}
.missionObjViewer div.missionObjContent{
    margin-bottom: 10px;
}
span.attackTypeColor{
    color:rgb(200, 24, 24);
}
span.summonTypeColor{
    color:rgb(220, 220, 60);
}
span.recoveryTypeColor{
    color:rgb(16, 252, 24);
}
span.utilTypeColor{
    color:rgb(14, 81, 230);
}
span.hyphenColor{
    color:rgb(0, 228, 252);
}
div.missionObjViewer > div > span.skillCommand{
    color:white;
}
div.missionObjViewer > div > span.missionObjSupportColor{
    color:rgb(64, 104, 212);
}
.missionObjPrevBtn{
    width: 450px;
    height: 58px;
    margin: auto;
    background-image: url('data/images/missionObjBtn.png');
    background-repeat: no-repeat;
    text-align: center;
    line-height:58px;
    font-size: 20px;
    color: rgb(250,250,68);
    background-image: url('data/images/missionObjPrevBtn.png');
    /* position: absolute; */
    bottom:0;
    margin-bottom: 15px;
}
.missionObjPrevBtn:hover{
    cursor:pointer;
    color: white;
}
.missionObjPrevBtn:active{
    background-image: url('data/images/missionObjBtn_onClick.png');
}
.missionObjPrevBtn span{
    font-size: inherit;
    color: white;
}

/*핵데미지 계산기*/
#nukeCalculatorGrid{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 200px 500px auto;
    grid-gap: 10px;
}
#nukeCalculatorGrid > div{
    padding: 10px;
    border: 1px solid black;
}
#nukeCalcInfoViewer{
    background-color: black;
    line-height: 100%;
    text-align: center;
}
#nukeCalcInfoViewer img{
    margin-top: 5px;
    margin-bottom: 5px;
}
#armorPopupInfo{
    background-color: black;
    min-width: 128px;
    padding: 4px;
    position: absolute; 
    display: none; 
    float: left; 
    overflow: hidden; 
    z-index: 999;
}
#nukeCalcArmorContainer, #nukeCalcShieldArmorContainer {
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
}
#nukeCalcArmorContainer span, #nukeCalcShieldArmorContainer span{
    position: absolute;
    bottom: 12px;
    right: 6px;
}
/*input buttons*/
#nukeCalcInputBtnGrid{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
}
#nukeCalcNukeBtn, #nukeCalcHealBtn, #nukeCalcInfoBtn, #nukeCalcExportBtn, #nukeCalcImportBtn{
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 90px;
    height: 77px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 25px;
}
#nukeCalcNukeBtn > span, #nukeCalcHealBtn > span, #nukeCalcInfoBtn > span, #nukeCalcExportBtn > span, #nukeCalcImportBtn > span{
    position:absolute;
    text-align: center;
    width: 90px;
    top :75px;
}
#nukeCalcNukeBtn{
    background-image: url('data/images/NukeCalculator/NukeBtn.png');
}
#nukeCalcHealBtn{
    background-image: url('data/images/NukeCalculator/HealBtn.png');
}
#nukeCalcInfoBtn{
    background-image: url('data/images/NukeCalculator/infoBtn.png');
}
#nukeCalcExportBtn{
    background-image: url('data/images/NukeCalculator/exportBtn.png');
}
#nukeCalcImportBtn{
    background-image: url('data/images/NukeCalculator/importBtn.png');
}
#nukeCalcNukeBtn:active{
    background-image: url('data/images/NukeCalculator/NukeBtn_push.png');
}
#nukeCalcHealBtn:active{
    background-image: url('data/images/NukeCalculator/HealBtn_push.png');
}
#nukeCalcInfoBtn:active{
    background-image: url('data/images/NukeCalculator/infoBtn_push.png');
}
#nukeCalcExportBtn:active{
    background-image: url('data/images/NukeCalculator/exportBtn_push.png');
}
#nukeCalcImportBtn:active{
    background-image: url('data/images/NukeCalculator/importBtn_push.png');
}
#nukeCalcLog{
    overflow: scroll;
    height: 250px;
}